p.product-name {
  font-weight: bolder;
}
.card {
  margin-bottom: 10px;
}
.add-to-cart {
  position: absolute;
  right: 3%;
  top: 30%;
}
#pagination {
  position: absolute;
  right: 3%;
}
.promotion {
  position: absolute;
  right: 12%;
  top: 30%;
  width: auto;
}
.removePromotion {
  position: absolute;
  right: 25%;
  top: 30%;
  width: auto;
}
