<div class="row">
  <div class="col-sm-2">
    <ul class="categories list-group">
      <li class="list-group-item" (click)="onSelect('accepted')">Accepted</li>
      <li class="list-group-item" (click)="onSelect('notAccepted')">Not accepted</li>
    </ul>
  </div>
  <div class="col-sm-10">
    <div class="card" *ngFor="let order of orders">
      <div class="card-body">
        <p class="product-name">{{order.fullName}}</p>
        <p class="product-description">{{order.price.toFixed(2)}}</p>

      </div>
      <button type="button" class="btn btn-secondary approve" data-toggle="modal" data-target="#myModal"
              (click)="approve(order)" *ngIf="! order.isRealised"> Approve
      </button>

      <button type="button"class="btn btn-secondary add-to-cart" data-toggle="modal" data-target="#myModal"
              (click)="selectOrder(order)">Details</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-10">
    <div class="card" *ngIf="selectedOrder.fullName !== ''">

      <h4 class="card-header">Order details. Total {{selectedOrder.price.toFixed(2)}} zł</h4>
      <div class="card-block">

        <div *ngFor="let product of selectedOrder.products">
        <h5 class="card-title"> {{product.product.name}}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>description:</b> {{product.product.description}}
            </li>
            <li class="list-group-item">
              <b>category:</b> {{product.product.category}}
            </li>
            <li class="list-group-item">
              <b>price:</b> {{product.product.price.toFixed(2)}}
            </li>
            <li class="list-group-item">
              <b>quantity:</b> {{product.number}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--<div class="col-sm-10">-->
    <!--<div *ngIf="selectedOrder.fullName !== ''">-->
    <!--<div class="row"></div>-->
    <!--<div class="col-sm-10">-->
    <!--<div class="card" *ngFor="let product of selectedOrder.products">-->
    <!--<div class="card-body">-->
    <!--<p class="product-name">{{product.product.name}}</p>-->
    <!--<p class="product-description">{{product.number}}</p>-->
    <!--</div>-->
    <!--<button class="btn btn-secondary add-to-cart">{{product.product.price}}</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
