<form *ngIf="status != 'success'">
  <h1>Username</h1>
  <div class="form-group">
    <label for="nameAndSurname">Username</label>
    <input type="email" class="form-control" id="nameAndSurname" aria-describedby="emailHelp"
           placeholder="Username" required="required" (keyup)="insertUsername($event)" >
  </div>
  <h1>Password</h1>
  <div class="form-group">
    <label for="address">Password</label>
    <input type="password" class="form-control" id="address" placeholder="password" required="required" (keyup)="insertPassword($event)">
  </div>
  <button class="btn" (click)="login()">Login</button>
</form>

<div class="alert alert-success" *ngIf="isSuccess">
  <strong>Success!</strong>
</div>
<button class="btn" routerLink="/dashboard" *ngIf="isSuccess">Go to dashboard</button>

<div class="alert alert-danger" *ngIf="status === 'failure'">
  <strong>Wrong login or password.</strong>
</div>
